@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: 'Now-Font-Thin';
    src: url(../assets/Fonts/now.thin.otf);
  }
  @font-face {
    font-family: 'Bubble';
    src: url(../assets/Fonts/BubbleboddyNeue-Light-Trial.ttf);
  }

  .Main-font {
    font-family: "Now-Font-Thin";
    letter-spacing: -10px;
  }
  .Second-Font {
    font-family: "Bubble";
  }
  .Third-font {
    font-family: "Now-Font-Thin";
    letter-spacing: -5px
  }